<div id="signup" class="modal-view">
  <a href="#"><i class="fa fa-close push-right close-ui"></i></a>
  <h1>Sign Up</h1>
  <hr>
  <form class="ink-form" method="post" action="/auth/signup">
    <div class="control-group">
      <div class="control">
        <input id="signup-input-email" type="text" placeholder="Enter your e-mail" name="email">
        <!-- <br><br> -->
      </div>
      <div class="control">
        <input id="signup-input-name" type="text" placeholder="Enter your name" name="name">
        <!-- <br><br> -->
      </div>
      <div class="control">
        <input id="signup-input-pass" type="password" placeholder="Choose a password" name="password">
        <!-- <br><br> -->
      </div>
      <div class="control">
        <input id="signup-input-pass2" type="password" placeholder="Re-type your password" name="password2">
        <!-- <br><br> -->
      </div>
      <div class="control align-center">
        <button id="signup-submit-button" type="submit" class="ink-button green">Sign Up</button>
        <div id="signup-errors"></div>
      </div>
    </div>
  </form>
</div>

<div id="alert" class="alert">
</div>
