<div id="new-post" class="modal-view">
	<a href="#"><i class="fa fa-close push-right close-ui"></i></a>
	<h1>Start New Debate</h1>
  <hr>
  <form class="ink-form" method="post" action="/posts">
    <div class="control-group">
    	<div class="control">
        <textarea id="post-input" placeholder="What's your opinion?" name="text"></textarea>
        <!-- <br><br> -->
      </div>
      <div class="control">
        <input type="text" placeholder="#hashtags separated by commas" name="tags">
        <!-- <br><br> -->
      </div>
      <div class="control">
        <button type="submit" class="ink-button red">Submit</button>
        <p id="char-count">600 characters left.</p>
      </div>
    </div>
  </form>
</div>

<div id="settings" class="modal-view">

  <a href="#"><i class="fa fa-close push-right close-ui"></i></a>
  <h1>Edit Account Information</h1>
  <hr>
  <form class="ink-form" method="post" action="/users">
    <div class="control-group">
      <label for="account-input-email">Email</label>
      <div class="control">
        <input type="text" name="email" id="account-input-email" placeholder="Email">
      </div>
      <label for="account-input-pass">Current Password</label>
      <div class="control">
        <input type="password" name="password" id="account-input-pass" placeholder="Password">
      </div>
      <label for="account-input-newpass">New Password?</label>
      <div class="control">
        <input type="password" name="newPassword" id="account-input-newpass" placeholder="Password">
      </div>
      <label for="account-input-newpass2">Confirm New Password</label>
      <div class="control">
        <input type="password" name="newPasswordCheck" id="account-input-newpass2" placeholder="Re-enter Password">
      </div>
      <div class="control">
        <!-- <br> -->
        <button type="submit" value="Change Password" class="ink-button green">Save Changes!</button>
      </div>
     </div>
  </form>
  
</div>
