<div id="newPost" class="modalView">
	<a href="#"><i class="fa fa-close push-right sUClose" style="font-size:20px;"></i></a>
	<h1>Make a new post!</h1>
    <hr>
    <form class="ink-form" method="post" action="/posts">
        <div class="control-group">
        	<div class="control">
            <textarea placeholder="What are you thinking about??" name="text"></textarea>
            <br><br>
            </div>
            <div class="control">
            <input type="text" placeholder="#hashtag" name="tags">
            <br><br>
            </div>
            <div class="control">
            <button type="submit" value="Sign Up" class="ink-button red">Post!</button>
            </div>
        </div>
    </form>
</div>

<div id="settings" class="modalView">
    <a href="#"><i class="fa fa-close push-right sUClose" style="font-size:20px;"></i></a>
    <h1>Edit your account settings!</h1>
    <hr>
    <form class="ink-form" method="post" action="/posts">
        <div class="control-group">
            <div class="control">
            <textarea placeholder="What are you thinking about??" name="text"></textarea>
            <br><br>
            </div>
            <div class="control">
            <input type="text" placeholder="#hashtag" name="tags">
            <br><br>
            </div>
            <div class="control">
            <button type="submit" value="Sign Up" class="ink-button green">Save!</button>
            </div>
        </div>
    </form>
</div>