<div id="newPost" class="modalView">
	<a href="#"><i class="fa fa-close push-right sUClose" style="font-size:20px;"></i></a>
	<h1>Make a new post!</h1>
    <hr>
    <form class="ink-form" method="post" action="/posts">
        <div class="control-group">
        	<div class="control">
            <textarea placeholder="What are you thinking about??" name="text"></textarea>
            <br><br>
            </div>
            <div class="control">
            <input type="text" placeholder="#hashtags separated by commas" name="tags">
            <br><br>
            </div>
            <div class="control">
            <button type="submit" value="Sign Up" class="ink-button red">Post!</button>
            </div>
        </div>
    </form>
</div>

<div id="settings" class="modalView">
        <a href="#"><i class="fa fa-close push-right sUClose" style="font-size:20px;"></i></a>
        <h1>Edit your account settings!</h1>
        <hr>
        <form class="ink-form" method="post" action="/users">
            <div class="control-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="control">
            <input type="text" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
              </div>
              <div class="control">
            <label for="exampleInputPassword1">Current Password</label>
            <div class="control">
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <label for="exampleInputPassword1">Change Password</label>
            <div class="control">
            <input type="password" name="newPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <label for="exampleInputPassword1">Re-enter password</label>
            <div class="control">
            <input type="password" name="newPasswordCheck" class="form-control" id="exampleInputPassword1" placeholder="Re-enter Password">
          </div>
          <div class="control">
          <br>
         <button type="submit" value="Change Password" class="ink-button green">Save Changes!</button>
         </div>
         </div>
        </form>
    </div>
