/**
 * Instigatr Variables
 **/
/**
 * Ink class names prefix
 * Used in all of Inks components root elements
 */
/**
 * Grid class names
 */
/**
 * Alerts class names
 */
/**
 * Badges class names
 */
/**
 * Buttons class names
 */
/**
 * Dismiss class names
 */
/**
 * Forms class names
 */
/**
 * Labels class names
 */
/**
 * Navigation class names
 */
/**
 * Dropdown class names
 */
/**
 * Tables class names
 */
/**
 * Images class names
 */
/**
 * JS UI components classe names
 */
/** 
 * Sets the grids maximum width
 * @var $grid-max-width (pixels|ems|percentage)
 */
/*!
 * Sets the grids breakpoint
 * 
 * To add a new break point you'll need to add an element to the list.
 * 
 * Here's an example: ( class-name-prefix, minimum-width, maximum-width, gutter-width, no-media-query).
 * 
 * media: media type.
 * class-name-prefix: this is the prefix used in tons of inks classes i.e.: large-100, small-40, etc.
 * minimum-width: (pixels|null) the minimum width for the breakpoint 
 * maximum-width: (pixels|null) the maximum width for the breakpoint 
 * gutter-width: (ems) the width for the gutters (space between grid columns) for the breakpoint 
 * no-media-query: (true|false) if you need to support IE8 set this to true on a single breakpoint.
 *                 Since IE8 does not support the @media statement leaving one of the breakpoints
 *                 outside a @media query let's you use the grid in IE8.
 *  
 */
/**
 * Instigatr Variables
 **/
.show-all {
  display: inherit;
}

.hide-all {
  display: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.push-left {
  float: left;
}

.push-center {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

.push-right {
  float: right;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.clearfix {
  *zoom: 1;
  overflow: hidden;
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Instigatr Mixins
 **/
body {
  /*background-image: url(../staticNewsBkgrnd.png);*/
  background-image: url(../staticNewsBkgrnd.jpg);
  background-position: right top;
  background-attachment: fixed;
}
@media screen and (max-width: 810px) {
  body::after {
    content: "collapse";
    display: none;
  }
}

.submenu {
  white-space: nowrap;
}

#global-nav {
  font-size: 1em;
}

#brand {
  font-size: inherit;
}
#brand:hover {
  background-color: #800000;
}

.css-dropdown-login {
  margin-right: 30px;
}

#login-ui {
  font-size: 0.875em;
  right: 0;
  border-radius: 0.5em 0 0.5em 0.5em;
  padding: 0.375em;
  width: 22.85714em;
  min-width: 280px;
}
#login-ui li:first-child .control {
  margin-top: 0;
}
#login-ui li:last-child {
  padding-top: 1px;
}
#login-ui .control-group {
  margin-bottom: 0;
}
#login-ui input {
  border-radius: 0.375em 0 0.375em 0.375em;
}

#login-button {
  padding-top: 0.357143em;
  padding-bottom: 0.357143em;
}

#signup-link {
  padding: 0;
  display: inline;
  color: #354CC9;
}
#signup-link:visited {
  color: #354CC9;
}
#signup-link:focus {
  color: #354CC9;
}
#signup-link:hover {
  color: #354CFF;
}
#signup-link:active {
  color: #9a2665;
}

#user-options {
  right: 0;
}
#user-options .fa {
  margin-right: 0.25em;
}

#modal-block {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(100, 100, 100, 0.3);
  display: none;
}

.modal-view {
  background-color: rgba(250, 250, 250, 0.95);
  width: 22.85714em;
  min-width: 320px;
  display: none;
  margin: 14vh auto;
  padding: 1.25em;
  border-radius: 0.4375em;
}
.modal-view h1, .modal-view h2, .modal-view h3, .modal-view h4 {
  text-align: center;
}
.modal-view input, .modal-view textarea {
  border-radius: 0.375em;
  border-bottom-left-radius: 0;
  padding: 0.375em;
}
.modal-view textarea {
  line-height: 1.42857;
  height: calc(4em * 1.42857 + 2 * 0.375em + 1px);
}
.modal-view label {
  display: block;
}
.modal-view p {
  margin-top: 1em;
  line-height: 1;
}
.modal-view p:last-child {
  margin-bottom: 0;
}
.modal-view .control-group {
  margin-bottom: 0;
}
.modal-view .control + .control, .modal-view .control + label {
  margin-top: 1em;
}

.close-ui {
  font-size: 1.25em;
  margin-right: 0.5em;
  margin-top: 0.15em;
}

#tag-search {
  margin-left: 0.375em;
  margin-right: 0.375em;
  margin-bottom: 0;
}
ul.submenu #tag-search {
  margin-bottom: 0.375em;
  margin-left: 1em;
  margin-right: 1em;
}

#tag-search-term {
  font-size: 0.875em;
  height: 2.28571em;
  padding: 0.25em 0.25em;
  border-radius: 0.375em 0 0 0;
}
ul.submenu #tag-search-term {
  width: 100%;
}

#tag-search-button {
  height: 2em;
  border-radius: 0 0.375em 0.375em 0;
}
#tag-search-button > .fa-search {
  vertical-align: top;
}

#nav-menu.submenu {
  width: 16em;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
footer a, footer a:hover {
  color: red;
}
footer a:hover .fa {
  text-decoration: underline;
}

.foot {
  margin-top: 0px;
  margin-bottom: 0px;
}

#post-index-column a {
  color: white;
  text-decoration: none;
}

.debate-listing {
  font-size: 1em;
  margin-top: 1.25em;
}
.debate-listing:last-child {
  margin-bottom: 1.25em;
}

.debate-listing, #new-post {
  max-width: calc(1440px - 4em);
}
@media screen and (min-width: 1261px) {
  .debate-listing, #new-post {
    width: 80vw;
  }
}
@media screen and (min-width: 961px) and (max-width: 1260px) {
  .debate-listing, #new-post {
    width: 87vw;
  }
}
@media screen and (min-width: 641px) and (max-width: 960px) {
  .debate-listing, #new-post {
    width: 93vw;
  }
}
@media screen and (min-width: 321px) and (max-width: 640px) {
  .debate-listing, #new-post {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .debate-listing, #new-post {
    width: 100%;
  }
}

.css-debate-card {
  color: white;
  background-color: #3C3C3C;
  transition: background-color 0.2s;
  border-radius: 0.625em 2.5em 2.5em 0px;
  overflow: hidden;
  width: 100%;
}
.css-debate-card .card-row {
  margin-top: 1.25em;
  /*TODO: make (more?) responsive*/
  width: 100%;
  position: relative;
}
.css-debate-card .card-row .card-item {
  float: left;
}

.card-row::before, .card-row::after, .debate-tags::before, .debate-tags::after {
  content: " ";
  display: table;
}
.card-row::after, .debate-tags::after {
  clear: both;
}

.debate-link:hover .css-debate-card, .debate-link:active .css-debate-card {
  background-color: #5C3D3D;
}

.card-text {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 0.4375em 0.4375em 0.4375em 0;
  padding: 0.375em;
}
.card-text > p {
  margin-bottom: 0.1875em;
}
.card-text > p:last-child {
  margin-bottom: 0;
}

.debate-rating {
  text-align: center;
  padding-top: 0.375em;
  width: 3.5em;
}
.debate-rating header {
  margin-bottom: 0.5em;
  font-size: 1em;
}
.debate-rating h3 {
  font-size: 1.3125em;
}

.card-text.subject {
  width: calc(100% - (3.5em + 1.25em + 7.5em + 4.71997em));
  max-width: calc(1440px - 4em - 16.96997em);
  padding: 0.375em;
  min-height: 6em;
  position: relative;
}
.card-text.subject .author {
  font-size: 95%;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  right: 0.375em;
  bottom: 0.375em;
}

.debate-data {
  width: 7.5em;
  margin-left: 1.25em;
}
.debate-data p {
  font-size: 0.875em;
}

.go-to-link {
  font-size: 2.1875em;
  margin-left: 0.8em;
  margin-right: 0.5em;
  position: absolute;
  right: 0;
}

.tags-area {
  width: calc(100% - 3.5em);
  margin-left: 3.5em;
  background-color: rgba(255, 255, 255, 0.2);
}

.debate-tags a span, .tags-area span {
  float: left;
  padding-left: 0.375em;
  padding-right: 0.375em;
}

.tags-area span {
  visibility: hidden;
}

.debate-tags {
  margin-left: 3.5em;
  position: relative;
}
.debate-tags a {
  opacity: 0.7;
}
.debate-tags a:hover {
  opacity: 1;
}
.debate-tags a:hover span {
  background-color: rgba(0, 0, 0, 0.2);
}

.css-debate-card h1,
.css-debate-card h2,
.css-debate-card h3,
.css-debate-card h4,
.css-debate-card h5,
.css-debate-card h6,
.css-debate-card header {
  color: white;
}

.css-index-head {
  background-color: #3c3c3c;
  border-radius: 0px 0px 6px 6px;
  text-align: center;
  margin-top: -3px;
}
.css-index-head h1 {
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.alert {
  background-color: rgba(250, 200, 170, 0.6);
  height: 15vh;
  width: 40vw;
  display: none;
  position: absolute;
  top: 15vh;
  left: 20vw;
  border-radius: 7px;
  text-align: center;
}

.alert h3 {
  margin-top: 6%;
  color: white;
}

.more-button {
  background-color: rgba(60, 60, 60, 0.8);
  border-radius: 24px 24px 0px 0px;
  text-align: center;
  left: 0vw;
}
.more-button:hover {
  background-color: #3c3c3c;
}

.more-button h3 {
  color: white;
  margin-bottom: 0px;
  padding: 10px;
}

.more-button a {
  text-decoration: none;
}
