#news-column
{
    background-image: url('/paper-texture-75.jpg');
    background-repeat: repeat;
    box-shadow: -1px 0 0 2px rgba(0,0,0, 0.1);
    z-index: 20;
}

.thumbNail, .article {
  display: inline-block;

}
.thumbNail
{
  /*float: left;*/

}
.article
{
  float: right;
}
.search-news h2{
	display:inline;
}
div.news.column-group {
  border-top: 1px solid black;
  padding: 10px;
}
.srchForm{
	display:inline;
}
#srchTrm{
	display:inline;
}
#newsSrchBtn{
	display:inline;
	background-color: rgb(100,100,200);
	border:none;
}