#news-column
{
    background-image: url('/paper-texture-75.jpg');
    background-repeat: repeat;
    box-shadow: -1px 0 0 2px rgba(0,0,0, 0.1);
    z-index: 20;
}

.thumbNail, .article {
  display: inline-block;

}
.thumbNail
{
  /*float: left;*/

}
.article
{
  float: right;
}

div.form-group {
  text-align: center;
/*  border-top: 1px solid black;*/
  border-bottom: 1px solid black;

}

div.news.column-group {
  border-top: 1px solid black;
  padding: 10px;

}