#news-column
{
    background-image: url('/paper-texture-75.jpg');
    background-repeat: repeat;
    box-shadow: -1px 0 0 2px rgba(0,0,0, 0.1);
    z-index: 20;
}

.thumbNail, .article {
  display: inline-block;
}
#voteDiv{
	margin:20px 0px 20px 0px;
}
.article
{
  float: right;
}
.search-news h2{
	display:inline;
}
div.news.column-group {
  border-top: 1px solid black;
  padding: 10px;
}
#srchNws{
	text-align:center;
}
.srchForm{
	display:block;
	margin-top: -10px;
}
#srchTrm{
	display:inline;
	border-radius:18px 0px 0px 18px;
}
#newsSrchBtn{
	display:inline;
	background-color: rgb(100,100,200);
	border:none;
	border-radius: 0px 18px 18px 0px;
}
img[src=""]
{
    display: none;
}
