 <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2>Meet the developers!</h2>
            <p>This website was built during a General Assembly coding bootcamp. Technologies used : Node.js, INK, Ajax, & JS.</p>




    <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://image.noelshack.com/fichiers/2013/22/1369693596-personnages-celebres-troll-face-forever-alone-138975.png" alt="">
                    <div class="caption">
                        <h3>Kyle</h3>
                        <p><a href="https://github.com/PsiRadish"<i class="fa fa-github"></a></i><a href="https://www.linkedin.com/in/kylefiegener"><i class="fa fa-linkedin-square"></i></p></a>

                 </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://www.reactionface.info/sites/default/files/images/1287666826226.png" alt="">
                    <div class="caption">
                        <h3>Soren</h3>
                        <p><a href="https://github.com/candlewoodtoby"<i class="fa fa-github"></a></i><a href="https://www.linkedin.com/pub/soren-smith/a5/693/bb5"><i class="fa fa-linkedin-square"></i></p></a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://thezonechronicles.files.wordpress.com/2013/01/troll-face.png" alt="">
                    <div class="caption">
                        <h3>John</h3>
                        <p><a href="https://github.com/candlewoodtoby"<i class="fa fa-github"></a></i><a href="https://www.linkedin.com/pub/soren-smith/a5/693/bb5"><i class="fa fa-linkedin-square"></i></p></a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://www.dutimes.com/wp-content/uploads/2015/06/crying-troll-face-300x298.jpg" alt="">
                    <div class="caption">
                        <h3>Mustafa</h3>
                        <p><a href="https://github.com/mustafa206"<i class="fa fa-github"></a></i><a href="www.linkedin.com"><i class="fa fa-linkedin-square"></i></p></a>



                    </div>
                </div>
            </div>


</header>

