<!DOCTYPE html>
<html>
<head>
  
  <title>
      Instigatr : Rendered HTML AJAX Response
  </title>

</head>
<body>
  
  <h1>You can never unsee beyond the veil.</h1>
  
  <div id="ajax-html">
    <%- body %>
  </div>
  
</body>
</html>
