<!DOCTYPE html>
<html>
<head>

  <title>Instigatr</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <title>
      Instigatr
      <% if (typeof titleSuffix != 'undefined'){ %>
         : <%= titleSuffix %>
      <% } %>
  </title>

    <link rel="stylesheet" type="text/css" href="/style/instigatr-ink-main.css">
  <script src="//code.jquery.com/jquery.js"></script>

  <!-- scrollbar plugin http://manos.malihu.gr/jquery-custom-content-scroller/ -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.9/js/ink-all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/style/instigatr-debate.css">
  <script type="text/javascript" src="/script/debate.js"></script>
  <script type="text/javascript" src="/script/homepage.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/homepagestyle.css">

</head>
<body>
<div class="ink-grid">
  <nav class="ink-navigation css-navBar">
    <ul class="horizontal menu black">
    <li class="heading"><a class="ink-label red css-label" href="/"><strong>INSTIGATR</strong></a></li>
      <li><a href="/">Popular</a></li>
      <li><a href="/" class="css-nBLink">Random</a></li>
      <li><a href="/archive">Archive</a></li>
      <ul class="push-right css-dropdownLogin">
      <% if(!currentUser){ %>
      <li><a href="#"><em>Login/Signup</em></a>
        <ul class="submenu css-loginDDItems">
        <form class="ink-form" method="post" action="/auth/login">
          <div class="control-group">
            <li><div class="control"><input type="text" name="email" placeholder="E-mail"><br></div></li>
            <li><div class="control"><input type="password" name="password" placeholder="Password"><br></div></li>
            <li class="separator-above">
            <div class="control">
            <button href="/auth/login" type="submit" class="ink-button blue css-loginBtn">Login!</button>
            <button class="ink-button blue css-loginBtn" id="signupBtn">Signup!</button>
            </div>
            </li>
          </div>
        </form>
      </ul>
      </li>
      <% }else{ %>

        <li><a href="#"><i><%= currentUser.name %></i></a>

      </li>
      <% } %>
    </ul>
    </ul>
  </nav>

<%- body %>
<% if(!currentUser){ %>
<div id="signupBlock">
</div>
  <div id="signup">
  <a href="#"><i class="fa fa-close push-right sUClose" style="font-size:20px;"></i></a>
  <h1>Sign up!</h1>
    <hr>
    <form class="ink-form" method="post" action="/auth/signup">
    <div class="control-group">
      <div class="control">
        <input type="text" class="form-control" placeholder="Enter your e-mail" name="email">
        <br><br>
        </div>
        <div class="control">
        <input type="text" class="form-control" placeholder="Enter your name" name="name">
        <br><br>
        </div>
        <div class="control">
        <input type="password" class="form-control" placeholder="Choose a password" name="password">
        <br><br>
        </div>
        <div class="control">
        <input type="password" class="form-control" placeholder="Re-type your password" name="password2">
        <br><br>
        <div class="control">
        <button type="submit" value="Sign Up" class="ink-button green">Sign Up!</button>
        </div>
    </div>
    </form>
  </div>
<% } %>
</body>
</html>