<!DOCTYPE html>
<html>
<head>
	<title>Instigatr</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.9/css/ink-flex.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
	<script type="text/javascript" src="http://fastly.ink.sapo.pt/3.1.9/js/ink-all.js"></script>

</head>
<body>
<div class="ink-grid">
	<nav class="ink-navigation">
	  <ul class="horizontal menu black">
	    <li><a href="/">Home</a></li>
	    <li><a href="/articles">Popular!</a></li>
      <li><a href="/auth/login"> Login </a></li>
      <li><a href="/auth/Signup"> Signup </a></li>
	  </ul>
	</nav>

<%- body %>

</body>
</html>