.css-mainPagePostDiv{
	background-color: rgba(60,60,60,1);
	margin-top:2vh;
	margin-bottom: 2vh;
	color:white;
	font-size:16px;
	border-radius: 0px 40px 40px 0px;
}
.css-mainPagePostDiv .css-usrNm{
	font-size: 18px;
	text-decoration: underline;
}
.css-mainPagePostDiv h4{
	color:white;
	display:inline-block;
	margin-right:20px;
}
.css-mainPagePostDiv a{
	color:white;
	display:inline-block;
}
.css-label{
	font-size: 16px;
}
.css-navBar{
	font-size: 16px;
}
.css-dropdownLogin{
	font-size: 14px;
	margin-right:30px;
}
.css-loginBtn{
	height:30px;
	padding-top:5px;
}
.css-loginDDItems{
	right:0;
}
.css-loginDDItems .control{
	width:300px;
}
.goToLink{
	font-size: 40px;
	margin-right: 20px;
}
.css-homeSidebar{
	background-color: rgba(60,60,60,1);
	height:70px;
	width:70px;
	border-radius: 35px;
	margin:12px 20px 10px 10px;
	text-align: center;
	overflow: hidden;
	transition: height 0.8s;
}

.css-homeSidebar:hover{
	height:340px;
}

.css-homeSidebar:hover .js-usrIconPncl{
	opacity: 1;
}
.css-homeSidebar:hover .js-usrIconBook{
	opacity: 1;
}
.css-homeSidebar:hover .js-usrIconWrench{
	opacity: 1;
}
.css-homeSidebar:hover .js-usrIconSO{
	opacity: 1;
}
.css-homeSidebar i{
	display:block;
	font-size: 50px;
	margin-top: 12px;
}
.css-homeSidebar a{
	text-decoration: none;
}
.css-usrIconPncl{
	color:red;
}
.js-usrIconPncl{
	opacity:0;
	transition:opacity 0.8s;
}
.css-usrIconBook{
	color:blue;
}
.js-usrIconBook{
	opacity:0;
	transition:opacity 0.8s;
}
.css-usrIconWrench{
	color:green;
}
.js-usrIconWrench{
	opacity:0;
	transition:opacity 0.8s;
}
.css-usrIconSO{
	color:orange;
}
.js-usrIconSO{
	opacity:0;
	transition:opacity 0.8s;
}
.css-usrTxt{
	z-index: 1;
	right: 125px;
	position:absolute;
}
.css-usrTxt div{
	font-family:courier;
	display:none;
	text-align: right;
}
.js-usrTxtPncl{
	color:red;
	margin-top:110px;
	z-index: 1;
}
.js-usrTxtBook{
	color:blue;
	margin-top:165px;
}
.js-usrTxtWrench{
	color:green;
	margin-top:220px;
}
.js-usrTxtSO{
	color:orange;
	margin-top:280px;
}
.modalView{
	background-color: rgba(250,250,250,.95);
	z-index: 1;
	height:60vh;
	width:60vw;
	display:none;
	position:absolute;
	top:14vh;
	left:20vw;
	border-radius: 7px;
	text-align: center;
}
#signup input{
	width:80%;
}
#modalBlock{
	position:absolute;
	height:100vh;
	width:100vw;
	top:0vh;
	left:0vw;
	background-color:rgba(100,100,100,.3);
	z-index: .5;
	display:none;
}
.sUClose{
	margin-right:10px;
	margin-top:3px;
}
#newPost textarea{
	height:28vh;
	width:80%;
}
#newPost input{
	width:80%;
}