.css-mainPagePostDiv{
	background-color: rgba(60,60,60,1);
	margin-top:2vh;
	margin-bottom: 2vh;
	color:white;
	font-size:16px;
	border-radius: 0px 40px 40px 0px;
}
.css-mainPagePostDiv .css-usrNm{
	font-size: 18px;
	text-decoration: underline;
}
.css-mainPagePostDiv h4{
	color:white;
	display:inline-block;
	margin-right:20px;
}
.css-label{
	font-size: 16px;
}
.css-navBar{
	font-size: 16px;
}
.css-dropdownLogin{
	font-size: 14px;
	margin-right:30px;
}
.css-loginBtn{
	height:30px;
	padding-top:5px;
}
.css-loginDDItems{
	right:0;
}
.goToLink{
	font-size: 40px;
	margin-right: 20px;
}