 <div class="ink-grid">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2 style= "black">Technologies used :</h2>
            <div class="container">
                <img src="https://nodejs.org/images/download-logo.png">
                <img src="http://s2.postimg.org/u03qcqndx/rsz_ink.png">
                <img src="http://www.b2bweb.fr/wp-content/uploads/js-logo-badge-128.png">
                <img src="http://www.palphp.com/assets/frontend/onepage/img/partners/html5-css3.png">
                <img src="http://riesvantwisk.com/files/live/sites/rvt/files/logos/ajax_large.png">
            </div>
        </header>
</div>

<div class="ink-grid">
    <h2 style= "color:white" >Meet the developers!</h2>
    
    <div class="column-group align-center">
        
        <div class="medium-25 small-50 hero-feature">
            <div class="thumbnail">
                <img src="http://i58.tinypic.com/30w9f6r.jpg" class="img-circle">
                <div class="caption">
                <br>
                    <h3>Kyle Fiegener</h3>
                    <p>Enjoys the merging of art and science that comes with full stack web development.</p>
                    <br>
                    <p><a href="https://github.com/PsiRadish"<i class="fa fa-github fa-3x" style="color:red"></a><a href="https://www.linkedin.com/in/kylefiegener"><i class="fa fa-linkedin-square fa-3x" style="color:black"></i></a></p>
                    
                </div>
            </div>
        </div>
        <div class="medium-25 small-50 hero-feature">
            <div class="thumbnail">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/09a/062/2c174d5.jpg" class="img-circle">
                <div class="caption">
                    <h3>Soren Smith</h3>
                    <p>Soren is a web developer in Seattle. He served as project manager for this project.</p>
                <p><a href="https://github.com/candlewoodtoby"<i class="fa fa-github fa-3x" style="color:red"></a><a href="https://www.linkedin.com/pub/soren-smith/a5/693/bb5"><i class="fa fa-linkedin-square fa-3x" style="color:black"></i></a></p>
                </div>
            </div>
        </div>

        <div class="medium-25 small-50 hero-feature">
            <div class="thumbnail">
                <img src="http://i61.tinypic.com/125qql5.jpg" class="img-circle">
                <div class="caption">
                    <h3>John Oh</h3>
                  <p>John is an aspiring coder/web developer.</p>
                  <br>
                    <p><a href="https://github.com/candlewoodtoby"><i class="fa fa-github fa-3x" style="color:red"></i></a><a href="https://www.linkedin.com/pub/soren-smith/a5/693/bb5"><i class="fa fa-linkedin-square fa-3x" style="color:black"></i></a></p>

                </div>
            </div>
        </div>

        <div class="medium-25 small-50 hero-feature">
            <div class="thumbnail">
                <img src="http://i58.tinypic.com/2464dgy.jpg" class="img-circle">
                <div class="caption">
                    <h3>Mustafa Ahmed</h3>
                    <p> Aspiring web developer str8 outta Seattle who loves all things front-end.</p>

                    <p><a href="https://github.com/mustafa206"><i class="fa fa-github fa-3x"style="color:red"></i></a><a href="www.linkedin.com"><i class="fa fa-linkedin-square fa-3x" style="color:black"></i></a></p>




                </div>
            </div>
        </div>
</div>
