
<br>
<div class="column-group">
    <div class="all-100" style="text-align:center;">
        <h1 class="quarter-top-space">Meet the Developers</h1>
    </div>
</div>

<div class="column-group defProfs">
    <div id="kyle" class="all-25 dev-card">
        <h2> Kyle Fiegener </h2>
        <img src="/Radish.jpg" class="roundshot" height="200" width="200">
        <p class="quarter-top-space">Kyle enjoys the merging of art and science that comes with full stack web development.</p>
        <!-- <p>He served as git master for this project.</p> -->
        <p><a href="https://github.com/PsiRadish"<i class="fa fa-github fa-3x" style="color:white"></a></i><a href="https://www.linkedin.com/in/kylefiegener"><i class="fa fa-linkedin-square fa-3x" style="color:blue"></a></i></p>
    </div>
    <div id="soren" class="all-25 dev-card">
        <h2> Soren Smith </h2>
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/09a/062/2c174d5.jpg" class="roundshot" height="200" width="200">
        <p class="quarter-top-space">Soren is a web developer in Seattle. <br>He served as project manager for this project.</p>
        <p><a href="https://github.com/sorenrehkopf"<i class="fa fa-github fa-3x" style="color:white"></a></i><a href="https://www.linkedin.com/pub/soren-smith/a5/693/bb5"><i class="fa fa-linkedin-square fa-3x" style="color:blue"></i></p></a>
    </div>

    <div id="john" class="all-25 dev-card">
        <h2> John Oh </h2>
        <img src="http://i61.tinypic.com/125qql5.jpg" class="roundshot" height="200" width="200">
        <p class="quarter-top-space">John is an aspiring coder/web developer.</p><br><br>
        <p><a href="https://github.com/candlewoodtoby"<i class="fa fa-github fa-3x" style="color:white"></a></i><a href="https://www.linkedin.com/pub/soren-smith/a5/693/bb5"><i class="fa fa-linkedin-square fa-3x" style="color:blue"></i></p></a>

    </div>
    <div id="mustafa" class="all-25 dev-card">
        <h2> Mustafa Ahmed </h2>
        <img src="http://i58.tinypic.com/2464dgy.jpg" class="roundshot" height="200" width="200">
        <p class="quarter-top-space">Aspiring web developer straight out of Seattle who loves all things front-end.</p><br>
        <p><a href="https://github.com/mustafa206"<i class="fa fa-github fa-3x"style="color:white"></a></i><a href="www.linkedin.com"><i class="fa fa-linkedin-square fa-3x" style="color:blue"></i></p></a>
    </div>
</div>
<br>
<div class="tech-card">
<div class="column-group">
    <div class="all-100" class="align-center">
       <h1 class="quarter-top-space" style="background-color: rgba(250,250,250,0.15); border-radius:20px;">Technology Used</h1>
   </div>
</div>

<div class="column-group">
    <div class="all-25" >
        <img src="https://nodejs.org/images/download-logo.png">
    </div>

    <div class="all-25">
        <img src="http://s2.postimg.org/u03qcqndx/rsz_ink.png">
    </div>

    <div class="all-25">
        <img src="http://www.b2bweb.fr/wp-content/uploads/js-logo-badge-128.png">
    </div>

    <div class="all-25">
        <img src="http://riesvantwisk.com/files/live/sites/rvt/files/logos/ajax_large.png">
    </div>
</div>
</div>


