<br>
 <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>About</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This project was built by Kyle, Soren, John and Mustafa during a Node.js backend project assignment during a General Assembly coding bootcamp. </p>
                </div>
                <div class="container">

<!--
                    <p>Connect with the people behind the project</p>
                    <br>
                    <p> John Oh -  <i class="fa fa-linkedin fa-3x"></i> <i class="fa fa-github fa-3x"></i> </p> -->


                    </div>
                    </div>




                </div>
            </div>
        </div>
    </section>


    </body>

</html>
