<!-- <div class="css-index-head">
  <h1>Currently Popular</h1>
</div> -->
<div class="column-group">
  <div class="all-100" id="post-index-column">
    <% postsSort.forEach(function(post){ %>

      <% include ../shared/post.ejs %>

    <% }) %>
  </div>
</div>

<div class="more-button">
  <a href="" id="load-more"><h3>Load more posts</h3></a>
</div>
