<div class="column-group">
  <div class="all-100" id="mainPagePostCol">
<% postsSort.forEach(function(post){ %>

  <% include ../shared/post.ejs %>

<% }) %>
</div>
</div>

	<div class="moarDiv">
	<a href="" id="loadMoar"><h3>Load more posts</h3></a>
	</div>


