<div class="column-group">
	<div class="all-80">
<% posts.forEach(function(post){ %>
	<div class="css-mainPagePostDiv">
	<p><%= post.user.name %></p>
	<p><%= post.text %></p>
	
	</div>
<% }) %>
</div>
</div>