<div class="css-index-head">
  <h1>Search results for <%= '"'+query.slice(1,query.length-1)+'"' %></h1>
</div>
<div class="column-group">
  <div class="all-100">
    <% posts.forEach(function(post){ %>
      
      <% include ../shared/post.ejs %>
      
    <% }) %>
  </div>
</div>
