<br>

<center><h1> Your posts </h1></center>

<hr>
<div class="column-group">
  <div class="all-100" id="mainPagePostCol">
<% posts.forEach(function(post){ %>

  <% include ../shared/post.ejs %>
  
<% }) %>
</div>
</div>