<div class="css-index-head">
  <h1>My Posts</h1>
</div>
<div class="column-group">
  <div class="all-100" id="post-index-column">
    <% posts.forEach(function(post){ %>

      <% include ../shared/post.ejs %>
      
    <% }) %>
  </div>
</div>
