<div id="debate-page" class="column-group large-half-horizontal-gutters xlarge-half-horizontal-gutters">
  
  <div id="take-sides-column" class="large-30 xlarge-30 medium-30 small-40 blue">
    <h2 class="align-center">Post</h2>
    <p class="condensed-300">Elsanna OTP FTW!!!!!!!!!1111</p>
    <h3 class="align-center">Choose a Side?</h2>
    <a id="choose-for" class="ink-button green" href="#">For! <i class="fa fa-thumbs-up"></i></a>
    <a id="choose-against" class="ink-button red push-right" href="#"><i class="fa fa-thumbs-down fa-flip-horizontal"></i> Against!</a>
  </div>
  
  <div id="debate-column" class="large-40 xlarge-40 medium-40 small-60 tiny-100 grey">
  
    <h2 class="align-center">Debate</h2>
    <div class="debate-message message-for white">
      <h5 class="slab align-right">asynca</h5>
      <span>You are dumb.</span>
    </div>
    
    <div class="debate-message message-against white">
      <h5 class="slab">TerriblePerson</h5>
      <span>I <em>am</em> dumb.</span>
    </div>
    
  </div>
  
  <div id="news-column" class="large-30 xlarge-30 medium-30">
    <h2 class="align-center">News</h2>
  </div>

</div>
