/**
 * Debate page CSS
**/

@import "base";

// vars
$debate-msg-border-radius           : 4px;
$debate-msg-padding                 : 6px;
$debate-msg-watermark-opacity       : 0.06;
$debate-msg-watermark-size          : 8px; // small font size for centering purposes, will use transform: scale to enlarge
$debate-msg-watermark-scale         : 6.25;
// watermarks in the center of their box
$debate-msg-watermark-for-left      : 50%;
$debate-msg-watermark-against-left  : 50%;

$argue-red-background               : #800000;
$argue-grey-background              : #505050;
// watermarks align in the center of the argument column
// $debate-msg-watermark-for-left      : 62.5%;
// $debate-msg-watermark-against-left  : 37.5%;

// top level debate page column
#debate-page
{
    background-color: mix($argue-grey-background, $argue-red-background);
    background: linear-gradient($argue-grey-background, mix($argue-red-background, $argue-grey-background, 25%) 50%, $argue-red-background);
    
    a:hover
    {
        text-decoration: none;
    }
}

#debate-page > section
{
    // min-height: 480px;
    
    h1, h2, h3, h4
    {
        text-align: center;
    }
    
    height: 100%;
}

.author
{
    // sent font to Roboto Slab
    font-family: $slab-font-stack;
    display: block;
}

.subsection
{
    margin-top: 19px;
}


// == COLUMN 1 ====

#take-sides-column
{
    border: 1px solid #999;
    background-color: #F8F8F8;
    background: linear-gradient(white, #EEE);
    // border-radius: $debate-msg-border-radius;
    @include three-round-one-pointy($debate-msg-border-radius);
    
    // background: linear-gradient(10deg, $blue, shade($blue, 30%));
    overflow: hidden;
}

#post-content-box
{
    border: 1px solid rgba(black, 0.2);
    // border-radius: $debate-msg-border-radius;
    @include three-round-one-pointy($debate-msg-border-radius);
    background-color: rgba(black, 0.1);
    
    padding: $debate-msg-padding;
    // margin-bottom: 24px;
    // margin-bottom: 35%;
    
    // font-size: $h5-font-size;
    p
    {
        font-size: $h5-font-size;
        font-family: $condensed-font-stack;
    }
    
    .author
    {
        // display: block;
        text-align: right;
    }
}

#voteDiv
{
    h4 { margin-bottom: 0.5em; }
}

#choices
{
    #headings-roll
    {
        position: relative;
        height: 24px;
        width: 100%;
        
        margin-bottom: 0.5em;
        
        h3
        {
            // display: inline-block;
            margin-bottom: 0;
            
            position: absolute;
            width: 100%;
            top: 0%;
            
            text-align: center;
        }
    }
    
    #choice-roll
    {
        position: relative;
        height: 60px;
        width: 100%;
        
        #wanna-join-for, #wanna-join-against,
        #side-for, #side-against
        {
            position: absolute;
            width: 50%;
            top: 0%;
        }
    }
    
    #wanna-join-for, #wanna-join-against
    {
        text-align: center;
        // border-radius: $debate-msg-border-radius;
        @include three-round-one-pointy($debate-msg-border-radius);
        
        padding: 6px;
        
        .enter-queue
        {
            display: block;
        }
    }
    #wanna-join-for
    {
        
        border: 1px solid rgba($green, 0.2);
        background-color: rgba($green, 0.1);
    }
    #wanna-join-against
    {
        
        border: 1px solid rgba($red, 0.2);
        background-color: rgba($red, 0.1);
    }
}

#heading-choice-made-left,
#heading-choice-not-made,
#heading-choice-made-right,
#wanna-join-for,
#wanna-join-against,
#side-for,
#side-against
{
    transition: left 0.5s, padding 0.5s, opacity 0.3s;
}

#side-for, #side-against
{
    height: 60px;
    
    .choose-side
    {
        width: 108px;
        max-width: 100%;
    }
    .change-mind
    {
        display: block;
    }
}

#must-be-logged-in.disabled
{
    position: relative;
    
    h1, h2, h3, h4, h5, h6, a, span, p, button
    {
        pointer-events: none;
        opacity: 0.35;
    }
    
    &:hover::after, &:focus::after, &:active::after
    {
        // opacity: 1;
        content: 'You are not logged in.';
        // color: red;
        @include text-outline(1px, white);
        text-align: center;
        font-size: $h3-font-size;
        font-weight: bold;
        // margin: 0 auto;
        
        position: absolute;
        top: 25%;
        left: 20%;
        right: 20%;
    }
}

// initiate transition properties when a choice is made
#choices // no choice made state
{
    // margin-bottom: 24px;
    // visibility: hidden;
    // &.disabled
    // {

    // }
    
    #heading-choice-made-left
    {
        left: -50%;
        opacity: 0;
        
        // visibility: hidden;
    }
    #heading-choice-not-made
    {
        left: 0%;
        // @include text-outline(3px, blue);
    }
    #heading-choice-made-right
    {
        left: 50%;
        opacity: 0;
    
        // visibility: hidden;
    }
    
    #wanna-join-for
    {
        left: -50%;
        opacity: 0;
    
        // visibility: hidden;
    }
    #side-for
    {
        left: 0%;
        
        .change-mind
        {
            visibility: hidden;
        }
    }
    #side-against
    {
        left: 50%;
        
        .change-mind
        {
            visibility: hidden;
        }
    }
    #wanna-join-against
    {
        left: 100%;
        opacity: 0;
    
        // visibility: hidden;
    }
}
#choices.side-chosen-for // "For!" state
{
    #heading-choice-made-left
    {
        left: 0%;
        opacity: 1;
    }
    #heading-choice-not-made
    {
        left: 50%;
        opacity: 0;
    }
    
    #wanna-join-for
    {
        left: 0%;
        opacity: 1;
        
        // visibility: visible;
    }
    #side-for
    {
        left: 50%;
        padding-left: 2em;
        
        .choose-side
        {
            pointer-events: none;
        }
        
        .change-mind
        {
            visibility: visible;
        }
    }
    #side-against
    {
        left: 100%;
        opacity: 0;
    }
}
#choices.side-chosen-against // "Against!" state
{
    #heading-choice-made-right
    {
        left: 0%;
        opacity: 1;
    }
    #heading-choice-not-made
    {
        left: -50%;
        opacity: 0;
    }
    
    #side-for
    {
        left: -50%;
        opacity: 0;
    }
    #side-against
    {
        left: 0%;
        padding-right: 2em;
        
        .choose-side
        {
            pointer-events: none;
        }
        
        .change-mind
        {
            visibility: visible;
        }
    }
    #wanna-join-against
    {
        left: 50%;
        opacity: 1;
    
        // visibility: visible;
    }
}
// #choices.side-chosen-against
// {
//     & + #champions
//     {
//         visibility: visible;
//     }
// }
#choices.side-chosen-for,

#champions
{
    text-align: center;
    // visibility: hidden;
    h5 { margin: 0; }
}


// == COLUMN 2 ====

#argue-column
{
    padding: 0;
    // padding-top: 6px;
    
    // background-color: mix($argue-grey-background, $argue-red-background);
    // background: linear-gradient($argue-grey-background, mix($argue-red-background, $argue-grey-background, 25%) 50%, $argue-red-background);
    
    // max-height: 480px;
    
    position: relative;
    
    #chat-output
    {
        overflow-x: hidden;
        overflow-y: auto;
        // max-height: 420px;
        
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block;
        
        // perspective: 800px;
        
        .debate-message
        {
            width: 80%;
            padding: $debate-msg-padding;
            margin: 0;
            margin-top: $debate-msg-padding;
            // margin-bottom: $debate-msg-padding;
            
            position: relative;
            display: inline-block;
            
            border: 1px solid; //#999;
            background-color: #F8F8F8;
            background: linear-gradient(white, #EEE);
            @include set-text-for-light-background();
            
            transition: transform 0.5s;
            
            // before pseudo-element will have a thumbs-up/down "watermark" in the background of the message
            &::before
            {
                opacity: $debate-msg-watermark-opacity;
                position: absolute;
                top: 43%;
                // left: 50%;
                
                // copied blindly from font-awesome CSS
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                font-size-adjust: none;
                font-stretch: normal;
                font-feature-settings: normal;
                font-language-override: normal;
                font-kerning: auto;
                font-synthesis: weight style;
                font-variant: normal;
                font-size: $debate-msg-watermark-size;
                text-rendering: auto;
            }
            
            &:last-child
            {
                margin-bottom: $debate-msg-padding;
            }
            
            .author
            {
                margin-bottom: 9px;
                text-align: center;
            }
            
            span
            {
                // sent font to Roboto Light Condensed
                font-weight: 400;
                font-family: $condensed-font-stack;
            }
        }
        
        .debate-message.message-for
        {
            float: left;
            // margin-left: (-$gutter-width / 2);
            border-left: none;
            border-top-right-radius:     $debate-msg-border-radius;
            border-bottom-right-radius:  $debate-msg-border-radius;
            
            border-color: #9A9;
            // background-color: #F8FFF8;
            // background: linear-gradient(white, #EFE);
            
            transform-origin: left center;
            
            &::before
            {
                content: '\f087'; // font-awesome thumbs up (outline)
                color: #040;
                left: $debate-msg-watermark-for-left;
                transform-origin: center center;
                transform: scale($debate-msg-watermark-scale, $debate-msg-watermark-scale);
            }
        
            &.new
            {
                transform: scale(0, 1);
                // transform: rotateY(90deg);
            }
        }
        
        .debate-message.message-against
        {
            float: right;
            border-right: none;
            border-top-left-radius:     $debate-msg-border-radius;
            border-bottom-left-radius:  $debate-msg-border-radius;
            
            border-color: #A99;
            // background-color: #FFF8F8;
            // background: linear-gradient(white, #FEE);
            
            transform-origin: right center;
            
            &::before
            {
                content: '\f088'; // font-awesome thumbs down (outline)
                color: #400;
                left: $debate-msg-watermark-against-left;
                // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
                // -webkit-transform: scale(-5, 5);
                // -ms-transform: scale(-5, 5);
                transform-origin: center center;
                transform: scale(-$debate-msg-watermark-scale, $debate-msg-watermark-scale);
            }
        
            &.new
            {
                transform: scale(0, 1);
                // transform: rotateY(90deg);
            }
        }
        
        hr
        {
            height: $debate-msg-padding;
            border: none;
        }
    }
    
    #chat-box-container
    {
        padding: $debate-msg-padding;
        background-color: #DDD;
        background: linear-gradient(90deg, #BBB, white);
        
        width: 100%;
        
        position: absolute;
        bottom: 0%;
        
        #chat-box
        {
            height: 60px;
            width: 100%;
            
            border: 1px solid #999;
            // border-radius: $debate-msg-border-radius;
            @include three-round-one-pointy($debate-msg-border-radius);
            padding: $debate-msg-padding;
            
            font-weight: 400;
            font-family: $condensed-font-stack;
            
            resize: none;
            overflow-y: auto;
            
            &:focus
            {
                color: black;
                // background-color: #F8F8F8;
                // background: linear-gradient(white, #EEE);
            }
            
            &[disabled]
            {
                opacity: 0.3;
                
                &.inQueue
                {
                    opacity: 0.65;
                }
            }
        }
    }
}

// == COLUMN 2 ====

#news-column
{
    background-color: #F8F8F8;
    
    height: 100%;
    overflow-y: hidden;
}

#results-news-headlines
{
    height: 100%;
    overflow-y: auto;
}
